Source: pyalc7t
Section: kde
Priority: optional
Maintainer: Joachim Siebold <js150@gmx.de>
Build-Depends: debhelper (>= 9), dh-python, python3 (>=3.6)
Standards-Version: 3.9.2

Package: pyalc7t
Architecture: all
Depends: ${misc:Depends}, python3 (>=3.6), python3-serial, python3-pyside6.qtcore, python3-pyside6.qtgui, python3-pyside6.qtwidgets, python3-pyside6.qtwebenginewidgets, gnuplot
Description: pyALC7T
 This package contains an utility to monitor the ALC 7000 charger
