Source: pyalc7t
Section: kde
Priority: optional
Maintainer: Joachim Siebold <js150@gmx.de>
Build-Depends: debhelper (>= 8), python3, python3-pyqt5, python3-serial, gnuplot, python3-pyqt5.qtwebkit
Standards-Version: 3.9.2

Package: pyalc7t
Architecture: all
Depends: ${misc:Depends}, python3, python3-pyqt5, python3-serial, gnuplot, python3-pyqt5.qtwebkit
Description: pyALC7T
 This package contains an utility to monitor the ALC 7000 charger
